.header {
    display: grid;
    grid-auto-flow: column;
    text-align: center;
    background-color: antiquewhite;
    padding: 20px;
}

.header h1 {

    text-align: left;
}

.header h1 a {
    font-family: monospace;
    font-size: 30px;
}

.header h1 a span {
    padding: 10px;
    font-size: 50px;
    font-family: 'Inspiration', cursive;
}

.header a {
    text-decoration: none;
    color: black;

}

.navbar ul {
    list-style: none;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar h1 {
    padding-top: 20px;
    margin-left: 130px;
    width: 50px;
    height: 50px;
}

.navbar h1:hover {
    color: rgba(59, 26, 13, 0.996);
}

.navbar {
    background-color: #884c35fe;
    color: white;
    width: 250px;
    height: 100vh;
    padding-left: 10px;
    top: 0;
    font-family: 'Cardo', cursive;
    text-align: left;
    display: flex;
    position: fixed;
    left: -100%;
    transition: 850ms;
    position: fixed;
}

.navbar.shows {
    left: 0;
    width: 200px;
    transition: 350ms;
}

.side-bar {
    padding-top: 19px;
}

.side-bar img {
    width: 30px;
    height: 30px;
    margin-right: 90%;
}

.first-h1 h1 {
    width: 100%;
    height: 500px;
    text-align: center;
    padding: 20px;
    font-family: 'Amita', cursive;
    font-size: 50px;
    padding-top: 100px;
    color: rgb(37, 23, 5);
    background-image: url('https://images.pexels.com/photos/1249586/pexels-photo-1249586.jpeg?auto=compress&cs=tinysrgb&w=1600');
}

.first-h1 h1 h2 {
    font-size: 30px;
    padding-top: 10px;
    padding-left: 25%;
}

.introduction {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #d3a284;
}

.text-part {
    margin-left: 30px;
    padding: 50px;
    font-size: 20px;
    font-weight: 300;
    width: 700px;
    text-align: justify;
    color: white;
    font-family: 'Cardo';
}

.text-part span {
    font-family: 'Inspiration';
    font-size: 28px;
}

.options-in-daily-life {
    display: grid;
    grid-auto-flow: column;
    padding: 50px;
    margin-top: 25px;
}

.options-in-daily-life button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    font-family: 'Amita';
    font-size: large;
    color: #60311efe;

}

.options-in-daily-life button:hover {
    background-color: #884c35fe;
    color: wheat;
}

.footer {
    display: grid;
    grid-template-columns: auto auto;
    border-top: solid 4px rgba(128, 128, 128, 0.368);
}

.term-of-use {
    margin: 50px;
    margin-left: 60%;
}

.term-of-use h3 {
    padding-bottom: 10px;
}

.term-of-use ul {
    list-style-type: none;
}

.term-of-use li {
    padding: 5px;
}

.socilas {
    display: grid;
    grid-template-rows: auto auto;
    height: 70px;
    margin-top: 50px;

}

.socilas li {
    display: inline;
    padding: 30px;
    font-size: 20px;
}

.socilas img {
    width: 30px;
    height: 30px;
    margin-right: 50px;
    margin-left: 50px;
}

.loop-challenges h2 {
    text-align: center;
    top: 50%;
    font-size: 50px;
    font-family: 'Amita';
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 96%);
}

.loop-challenges ul {
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    padding-top: 50px;
    padding-left: 40px;
    height: 690px;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 96%);
}

.loop-challenges li img {
    width: 80%;
    height: 550px;
}

.loop-challenges li h1 {
    padding-left: 5%;
    padding-top: 10px;
}

.loop-challenges li a {
    text-decoration: none;
    color: black;
}

.each-challenge {
    display: grid;
    grid-auto-flow: column;
}

.part-1 {
    display: grid;
    grid-auto-flow: row;
    margin: 30px;


}

.each-challenge h1 {
    font-size: 40px;
    font-family: 'Cardo';
    margin-left: 30px;
    padding: 20px;
}

.each-challenge img {
    width: 99%;

}

.part-2 {

    height: 50%;
    margin-top: 25%;
    width: 80%;
    margin-left: 8%;
}

.part-2 p {
    font-size: 20px;
    text-align: justify;
    margin-bottom: 20px;
}

.part-2 h3 {
    font-size: 25px;
    margin-bottom: 20px;
}

.part-2 img {
    width: 300px;
    margin-top: 10%;
    margin-left: 25%;
}

.college-firstpart {
    margin: 50px;
    margin-left: 25%;
    width: 50%;
    height: 260px;
    padding: 30px;
    background: rgb(220, 221, 71);
    background: linear-gradient(0deg, rgba(220, 221, 71, 0.208018241476278) 8%, rgba(215, 45, 253, 0.23042720506171221) 100%);
}

.college-firstpart h1 {
    text-align: center;
    font-family: 'Mr De Haviland', cursive;
    font-size: 50px;
    font-weight: 100;
}

.college-firstpart h3 {
    padding: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.help-for-college h1 {
    text-align: center;
}

.help-for-college span {
    padding: 10px;
    font-size: 50px;
    font-family: 'Inspiration', cursive;
}

.hair-part-1 {
    background-image: url('https://static.wixstatic.com/media/8ddfc54557334e96a2eac37ab491e1c5.jpg/v1/fill/w_1024,h_500,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01,enc_auto/8ddfc54557334e96a2eac37ab491e1c5.jpg');
    background-size: cover;
    width: 100%;
    height: 540px;
    text-align: center;
    font-family: 'Cardo';
    font-size: 50px;
    font-weight: 900;
    color: #e7ad97fe;
    padding-top: 10%;
}

.search-hair {
    border-radius: 50px;
    width: 660px;
    background-color: rgba(255, 255, 255, 0.741);
    margin-left: 27%;
    margin-top: 4%;

}

.searching-hair {
    width: 550px;
    height: 60px;
    border: transparent;
    background-color: transparent;
    margin-left: 30px;
    font-size: 20px;
}

.searching-hair :placeholder-shown {
    font-size: 20px;
}

.search-hair button {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 50%;
    margin-right: 20px;
    border: transparent;
    background-color: rgba(255, 255, 255, 0.677);
}

.search-hair button:hover {
    background-color: rgba(255, 255, 255, 0.925);

}

.hair-loop {
    width: 100%;
}

.hair-loop ul {
    display: grid;
    grid-template-columns: auto auto;
    list-style-type: none;
    width: 60%;
    margin-left: 18%;
    margin-top: 10px;
}

.hair-loop li {
    margin: 30px;
    border: solid 3px #e7ad97fe;
}

.hair-loop li a {
    text-decoration: none;
    color: black;
}

.hair-loop img {
    padding: 30px;
    width: 450px;
    height: 400px;
}

.text-name {
    width: 80%;
    text-align: center;
    display: grid;
    grid-template-rows: auto auto;
    margin-left: 30px;
    gap: 1rem;
    padding-bottom: 10px
}

.text-name h4 {
    text-decoration: underline;
}

.eachHair-part1 {
    display: grid;
    grid-template-columns: 400px auto;
    gap: 3rem;
    padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.eachHair-part1 h1 {
    margin-top: 50px;
    height: 300px;
    width: 400px;
    text-align: center;
    background-color: #f6eedfd1;
    color: rgb(61, 38, 9);
    padding-top: 80px;
}

.eachHair-part1 img {
    width: 80%;
    height: 750px
}

.eachHiar-content {
    display: grid;
    grid-auto-flow: row;
    width: 100%;
    text-align: justify;
    padding-bottom: 30px;

}

.eachparagraph {
    width: 55%;
    margin-left: 31%;
}

.eachparagraph h1 {
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.eachparagraph img {
    width: 30%;
    padding-left: 30px;
}

.eachparagraph p {
    font-size: 20px;
    padding-bottom: 10px;
}

.makeup-part-1 h1 {
    background-image: url('https://media.self.com/photos/57e00e471db118765d302bdd/8:3/w_1280,c_limit/sub-channel-beauty_makeup.jpg');
    width: 75%;
    height: 470px;
    font-size: 60px;
    font-weight: bolder;
    text-align: center;
    margin-left: 13%;
    padding-top: 14%;
}


.makeup-loop ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto;
    width: 60%;
    gap: 3rem;
    margin: 50px;
    margin-left: 20%;
}

.makeup-loop img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-left: 30px;
    margin-bottom: 10px;
}

.makeup-loop li {
    width: 400px;
    border: solid 3px rgba(128, 128, 128, 0.892);
    padding: 20px;
    border-radius: 30px;
}

.makeup-loop li a {
    text-decoration: none;
    color: black;
}

.makeup-loop h1 {
    text-align: center;
    font-size: 25px;
}

.makeup-whole-content {
    display: grid;
    grid-auto-rows: auto;
    width: 60%;
    margin-left: 20%;
}

.makeup-whole-content h1 {
    width: 80%;
    text-align: center;
    padding: 20px;
    margin: 10px;
    margin-left: 90px;
    font-size: 45px;
}

.main-content-makeup img {
    width: 900px;
    border-radius: 30px;
    height: 700px;
}

.each-content-whole {
    margin: 20px;
}

.each-content h2 {
    padding: 12px;
    font-size: 35px;
    font-family: 'Cardo';
}

.each-content p {
    font-size: 20px;
    text-align: justify;
    padding: 10px;
}

.each-content img {
    border-radius: 30px;
    width: 400px;
}


.search-makeup {
    border-radius: 50px;
    width: 660px;
    border: solid 2px gray;
    margin-left: 27%;
    margin-top: 4%;

}

.searching-makeup {
    width: 550px;
    height: 60px;
    border: transparent;
    background-color: transparent;
    margin-left: 30px;
    font-size: 20px;
}

.searching-makeup :placeholder-shown {
    font-size: 20px;
}

.search-makeup button {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 50%;
    margin-right: 20px;
    border: transparent;
    background-color: rgba(213, 213, 213, 0.392);
}

.travel h1 {
    font-size: 50px;
    padding-top: 30px;
    text-align: center;
    font-family: 'Cardo';
}

.mini-travel-blog ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto;
    width: 60%;
    gap: 3rem;
    margin: 50px;
    margin-left: 20%;
}

.mini-travel-blog img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-left: 30px;
    margin-bottom: 10px;
}

.mini-travel-blog li {
    width: 400px;
    border: solid 3px rgba(128, 128, 128, 0.892);
    padding: 20px;
    border-radius: 30px;
}

.mini-travel-blog li a {
    text-decoration: none;
    color: black;
}


.search-travel {
    border-radius: 50px;
    width: 660px;
    border: solid 2px gray;
    margin-left: 27%;
    margin-top: 4%;

}

.searching-travel {
    width: 550px;
    height: 60px;
    border: transparent;
    background-color: transparent;
    margin-left: 30px;
    font-size: 20px;
}

.searching-travel :placeholder-shown {
    font-size: 20px;
}

.search-travel button {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 50%;
    margin-right: 20px;
    border: transparent;
    background-color: rgba(213, 213, 213, 0.392);
}

.content-travel {
    display: grid;
    grid-auto-flow: row;
    width: 60%;
    margin-left: 20%;
}

.travel-main h1 {
    font-family: 'Cardo';
    text-align: center;
    font-size: 40px;
    padding: 30px;
}

.travel-main img {
    width: 900px;
    height: 700px;
    margin-left: 20px;
}

.whole-paragraphs {
    width: 90%;
    margin-left: 3%;
    padding: 10px;
}

.each-travel-content {
    display: grid;
    grid-auto-flow: row;
}

.each-travel-content h2 {
    margin-top: 10px;
    font-size: 40px;
    text-align: justify;
    padding-top: 10px;
}

.each-travel-content img {
    width: 400px;
    padding: 20px;
}

.fashion h1 {
    font-family: 'Cardo';
    text-align: center;
    font-size: 40px;
    padding-top: 40px;
}

.each-travel-content p {
    font-size: 20px;
    text-align: justify;
    padding-left: 10px;
    padding-bottom: 10px;
}

.fashion-loop ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto;
    width: 60%;
    gap: 3rem;
    margin: 50px;
    margin-left: 20%;
}

.fashion-loop img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-left: 30px;
    margin-bottom: 10px;
}

.fashion-loop li {
    width: 400px;
    border: solid 3px rgba(128, 128, 128, 0.892);
    padding: 20px;
    border-radius: 30px;
}

.fashion-loop li a {
    text-decoration: none;
    color: black;
}

.fashion-loop h1 {
    text-align: center;
    font-size: 25px;
}

.search-fashion {
    border-radius: 50px;
    width: 660px;
    border: solid 2px gray;
    margin-left: 27%;
    margin-top: 4%;

}

.searching-fashion {
    width: 550px;
    height: 60px;
    border: transparent;
    background-color: transparent;
    margin-left: 30px;
    font-size: 20px;
}

.searching-fashion :placeholder-shown {
    font-size: 20px;
}

.search-fashion button {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 50%;
    margin-right: 20px;
    border: transparent;
    background-color: rgba(213, 213, 213, 0.392);
}

.each-travel-whole {
    width: 60%;
    margin-left: 21%;
}

.eachFashionItem-part1 {
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
}

.eachFashionItem-part1 h1 {
    text-align: center;
    font-family: cursive;
    padding: 20px;
}

.eachFashionItem-part1 img {
    padding: 30px;
    margin-left: 35px;
    width: 890px;
}

.eachFashionItem-content {
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
    width: 80%;
    margin-left: 5%;
}

.eachFashionItem-content h2 {
    font-size: 30px;
    text-align: justify;
    margin-left: 30px;
    padding: 10px;
}

.eachFashionItem-content p {
    font-size: 20px;
    padding: 20px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: justify;
}

.eachFashionItem-content img {
    margin-left: 30px;
}

.review {
    display: grid;
    grid-auto-flow: row;
    gap: 2rem;
    background-color: #bb764bbb;
    padding: 30px;
}

.post-review {
    display: grid;
    grid-auto-flow: row;
    gap: 2rem;
    padding: 30px;
}

.post-review h1 {
    text-align: center;
    font-size: 40px;
    padding: 30px;
}

.review-form {
    display: grid;
    grid-auto-flow: column;
    margin-left: 13%;

}

.review-inputs {
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
    width: 50%;
    margin-left: 35%;
}

.review-inputs input {
    height: 35px;
    border-radius: 20px;
    border: none;
    padding: 10px;
}

.review-inputs textarea {
    border-radius: 20px;
    border: none;
    padding: 10px;
}

.review-form button {
    width: 200px;
    height: 80px;
    border-radius: 50px;
    margin-top: 110px;
    font-size: 25px;
    border: none;
    background-color: #69391cee;
    color: bisque;
}

.review-form button:hover {
    background-color: #42220e;
}

.review-answers ul {
    display: grid;
    grid-auto-flow: row;
    list-style-type: none;
    width: 45%;
    margin-left: 28%;
}

.review-answers li {
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 20px;
    border-bottom: solid 2px #42220e;
}

.review-answers li h2 {
    font-size: 20px;
    text-align: justify;
}

.review-answers li h3 {
    font-size: 15px;
    text-align: end;
}

.review-answers li p {
    font-size: 20px;
    padding: 5px;
}

.link-active .active {
    font-size: 20px;
    font-weight: bolder;
    color: white;
}

.link-active {
    padding: 30px;
}


.link-active-nav {
    padding: 30px;
    border-bottom: solid 1px #af7057b2;
}

.link-active-nav:hover {
    background-color: rgba(59, 26, 13, 0.996);
    border-radius: 30px;
}